body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Creepster';
    background-image: url('images/circus3.jpg');
    background-position-x: center;
    background-position-y: 20%;
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: color;
}

#budget-total {
    margin: 0;
    position: fixed;
    top: 1rem;
    color: black;
}

#budget-form > label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10vh;
    border-radius: 1rem;
    padding: 1rem;
}

#budget-form > label > button{
    padding: 1rem;
    border: solid black 2px;
    border-radius: 1rem;
    border: #610405 2px solid;
    font-family: 'Creepster';
    font-size: medium;
}

#error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
}

.pennywisePic {
    width: 50%;
    display: flex;
    justify-content: center;
}

main {
    padding: 0;
    margin: 0;
}

#clown-face {
    display: none;
    position: fixed;
}

.main-forms {
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 152, 157, 0.6);
    max-width: fit-content;
    max-height: 74vh;
    min-height: 74vh;
    margin-top: 25%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
    border: #7a0001 2px solid;
}

.main-forms > label > button{
    margin-top: 1rem;
    border-radius: 1rem;
    font-family: 'Creepster';
    border: #610405 2px solid;
}

.main-forms > label > ul {
    max-height: 59vh;
    color: #3c0c15;
    overflow: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-forms > label > ul > li {
    margin-top: 1rem;
}


#entertainment {
    display: none;
}

#food {
    display: none;
}

#clothing {
    display: none;
}

#bills {
    display: none;
}

#filler-img {
    position: fixed;
    top: 30vh;
}

#weekly-total {
    position: fixed;
    bottom: 4rem;
    font-size: 1.5rem;
    color: black;
}

footer > label {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    padding: 1em 0;
    background-color: rgba(182, 152, 157, 0.6);
    border-top: 2px #610405 solid;
}

/* buttons look a little weird, plan on maybe using icons 
so that they can all be the same size*/
footer > label > button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: #610405 2px solid;
    font-size: small;
    font-family: 'Creepster';
    background-color: #a65219;
    color: #f1e9d1;
}

#budget-monitor, #budget-monitor-20 {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

#buttonE {
    display: inline;
}

#buttonF {
    display: inline;
}

#buttonC {
    display: inline;
}

#buttonB {
    display: inline;
}

@media (min-width: 443px) {

    body {
        background-image: url('images/circus.jpg');
    }

    #clown-face {
        display: none;
        position: fixed;
        top: 12.5%;
    }

    footer {
        display: flex;
    }

    footer > label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1em 0;
    }

    footer > label > button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: #610405 2px solid;
        font-size: small;
        font-family: 'Creepster';
        background-color: #a65219;
        color: #f1e9d1;
        margin: 0 1em;
    }

}